<h2>New Message</h2>

<%= form_for([@outbox, @message]) do |f| %>
  <%= f.label :recipient_name %>
  <%= f.text_field :recipient_name %>

  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.submit %>

<% end %>
