<h2>New Message</h2>

<%= form_for @message do |f| %>
  <%= f.label :recipient_id %>
  <%= f.text_field :recipient_id %>

  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.submit %>
<% end %>
