<!DOCTYPE html>
<html>
  <head>
    <title>Lettr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to "Lettr", root_url %></h1>
    <nav>
      <% if @current_user %>
        <%= link_to "Welcome, #{@current_user.username}!", user_path(@current_user) %>
        <%= link_to "Sign Out", session_path, method: :delete %> <br>
        <%= link_to "Inbox", inbox_path %>
        <%= link_to "Outbox", outbox_path %>
        <%= link_to "Users", users_path %>
      <% else %>
        <%= link_to "Sign Up", new_user_path %></div>
        <%= link_to "Sign In", new_session_path %></div>
      <% end %>
    </nav>
    <div class="page-wrapper">
      <% flash.each do |type, message| %>
      <p class="<%= type %>"><%= message %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
